/* general style */
* {
	padding: 0;
	margin: 0;
}

body {
	background-color: lightgray;
	hyphens: auto;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex > * {
	margin: 0 10px 10px 0;
}

/* general table */
table.border th, table.border td {
	border: solid 1px;
}

table thead, table tfoot {
	font-weight: bold;
}

table th, table td {
	padding: 2px 5px;
}

.column1Right tr td:first-child {
	text-align: right;
}

.column1Top tr td:first-child {
	vertical-align: top;
}

.column1Bold tr td:first-child {
	font-weight: bold;
}

/* layout */
#banner {
	height: 150px;
	background-color:#000A3A;
	color:#FFFFFF;
}

#logo {
	float: left;
	width: 250px;
	height:150px;
}

#logo img {
	width:250px;
	height:150px;
}

#login {
	float: left;
	height:auto;
	margin-top: 100px;
	padding-left: 5px;
}

#login a {
	color:#FFFFFF;
}

#search {
	float: right;
	padding-right: 5px;
}

#control {
	background-color: #BAC6FF;
	width: 250px;
	height: calc(100vh - 150px) !important;
	float: left
}

#control strong,  #control a {
	text-decoration: none;
	border-top: 1px solid black;
	display: block;
	padding: 6px 6px 6px 20px;
	color: #000A3A;
}

#control ul {
	border-bottom: 1px solid black;
}

/* books.html */
.book {
	width: 210px;
	background-color: grey;
	padding: 5px;
	border-radius: 5px;
}

.book, .book:link, .book:hover, .book:visited {
	text-decoration: none;
	color: black;
}

.book .title {
	margin: 4px 0;
}

.book img.cover {
	max-width: 96%;
	margin-left: 2%;
}
